<html>
  <body>
    <td style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;" valign="top" align="center">
      <a href="https://confieval.com"><img class="max-width" border="0" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px;" src="https://confieval.com/static/media/logo.7fcefe8a.png" alt="Confieval" width="600" height="" data-proportionally-constrained="false" data-responsive="false"></a>
    </td>
    <div>
      <p style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif; font-size: 13.3333px; font-style: normal; font-variant-caps: normal; font-weight: normal; text-size-adjust: auto;"><span style="font-family:tahoma,geneva,sans-serif;">Estimado&nbsp;Evaluado<br>
      <br>
      Reciba un cordial saludo, como parte del proceso de selección de {{companyName}}, es necesario que responda la siguiente evaluación. Para poderla llevar a cabo te pedimos que sigas las siguientes instrucciones:<br>
      <br>
      usuario&nbsp;:&nbsp;<strong>{{candidateUser}}</strong><br>
      contraseña :&nbsp;</span><span style="font-weight: 600; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-family: tahoma, geneva, sans-serif; font-size: 13.3333px; color: rgb(0, 0, 0); caret-color: rgb(0, 0, 0);">{{candidatePassword}}</span><br>
      <br>
      <br>
      <span style="font-family:tahoma,geneva,sans-serif;"><strong>APLICACIÓN DE LA EVALUACIÓN</strong><br>
      <br>
      <strong>Para poder rendir la evaluación, siga las siguientes instrucciones:&nbsp;</strong></span></p>
      <ul style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif; font-size: 13.3333px; font-style: normal; font-variant-caps: normal; font-weight: normal; text-size-adjust: auto;">
        <li><span style="font-family:tahoma,geneva,sans-serif;">Vaya a la página: <a clicktracking="off" href="https://confieval.com/prueba/{{companyId}}" target="_blank">https://confieval.com/prueba/{{companyId}}</a></span></li>
        <li><span style="font-family:tahoma,geneva,sans-serif;">Ingrese el <strong>Usuario</strong> y&nbsp;la&nbsp;<strong>Contraseña</strong> que vienen en la parte superior de este correo (Si no aparecen, solicítelas a la persona que le asignó la evaluación)</span></li>
        <li><span style="font-family:tahoma,geneva,sans-serif;">Siga las instrucciones que se muestran en la pantalla.</span></li>
      </ul>
      <p style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: Verdana, Geneva, sans-serif; font-size: 13.3333px; font-style: normal; font-variant-caps: normal; font-weight: normal; text-size-adjust: auto;"><span style="font-family:tahoma,geneva,sans-serif;">Si tiene algún problema durante el uso del sistema, puede&nbsp;contactarse con nuestro equipo de soporte Técnico al correo: <strong><a clicktracking="off" href="mailto:ayuda@confieval.com">ayuda@confieval.com</a></strong>.<br>
      <br>
      <strong>NOTA:</strong>&nbsp;confieval®, no solicita información de los evaluados, son las empresas contratantes del servicio, quienes solicitan dicha información y determinan el uso que le dan a la misma.<br>
      Tampoco es responsable de los resultados de las evaluaciones ni del uso o las decisiones que las organizaciones que la usan hagan de ella.&nbsp;<br>
      Si tiene cualquier duda o necesita más información, por favor solicítela directamente a la empresa que le asignó la evaluación. Si no desea revelar su información, o llevar a cabo la evaluación, ignore las instrucciones arriba mencionadas y deseche este correo.</span></p>
    </div>
  </body>
</html>