<html><body><td style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;" valign="top" align="center"><a href="https://confieval.com"><img class="max-width" border="0" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px;" src="https://firebasestorage.googleapis.com/v0/b/sistema-ssat.appspot.com/o/CONFIEVAL.png?alt=media&token=5e36e45c-0042-476c-9f54-16e49a66fd47" alt="Confieval" width="600" height="" data-proportionally-constrained="false" data-responsive="false"></a></td>
<div>Hola {{name}},</div><div>&nbsp;</div>
<div>El nuevo usuario para la empresa {{companyName}} para usar la plataforma de Confieval es:</div><div>&nbsp;</div>
<div>usuario: {{mail}}</div>
<div>contraseña: {{password}}</div><div>&nbsp;</div><div>Puedes ingresar a la plataforma desde :&nbsp;</div><div><a clicktracking="off" href="https://confieval.com" target="_blank">https://confieval.com</a></div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div></body></html>